body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



input[type=text]{
    background-color: lightgray;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=email]{
    background-color: lightgrey;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    padding: 8px 26px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }